@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.food-munch-logo {
    width: 90px;
    height: 80px;
}

.food-munch-logo:hover {
    letter-spacing: 2px;
    box-shadow: grey 0px 7px 29px 0px;
    background-color: black;
    transition: 1s
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Brush Script MT";
}

#navItem2:hover {
    letter-spacing: 2px;
    box-shadow: white 0px 7px 29px 0px;
    background-color: white;
    transition: 1s
}

#navItem3:hover {
    letter-spacing: 2px;
    box-shadow: white 0px 7px 29px 0px;
    background-color: white;
    transition: 1s
}

#navItem4:hover {
    letter-spacing: 2px;
    box-shadow: white 0px 7px 29px 0px;
    background-color: white;
    transition: 1s
}

#navItem1:hover {
    letter-spacing: 2px;
    box-shadow: white 0px 7px 29px 0px;
    background-color: white;
    transition: 1s
}

.banner-section-bg-container {
    background-image: url("https://i.pinimg.com/564x/4e/76/ce/4e76cecedc9e759b1c710b90141518af.jpg");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: black;
    font-family: "Brush Script MT";
    font-size: 45px;
    font-weight: 300;
    cursor: pointer;
    z-index: 0;
    position: relative;

}

.banner-heading:hover {
    color: black;

}

.banner-heading:before {
    content: " ";
    position: absolute;
    background-color: white;
    inset: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 2s ease-in-out;


}

.banner-heading:hover:before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: white;
    color: white;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Brush Script MT";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: white;
    background-color: transparent;
    width: 140px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;

}

.custom-button:hover {
    letter-spacing: 2px;
    box-shadow: grey 0px 7px 29px 0px;
    background-color: black;
    transition: 1s;

}


.custom-outline-button {
    color: white;
    background-color: transparent;
    width: 140px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.custom-outline-button:hover {
    letter-spacing: 2px;
    box-shadow: grey 0px 7px 29px 0px;
    background-color: black;
    transition: 1s;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Brush Script MT";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Brush Script MT";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card:hover {
    border-width: 25%;
    transition: all 1s;

    box-shadow: black 0px 7px 29px 0px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Brush Script MT";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Brush Script MT";
    font-size: 16px;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section {
    background-color: white;
}


.menu-section-heading {
    color: #183b56;
    font-family: "Brush Script MT";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Brush Script MT";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Brush Script MT";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}

.menu-item-card :hover {
    border-width: 55px;
    transition: all 2s;
    box-shadow: black 0px 8px 30px 1px;


}

.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 270px;
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}